-----------
-----------
<div class="container bg-white section-padding">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-4">
                <div class="team-card mb-5">
                    <img class="img-fluid" src="{{ object.user.profile.user_profile_photo.url }}" alt="">
                    <h4 class="mb-0">----------- -----------</h4>
                </div>
            </div>
            <div class="heading-section">
                <h2>
                    <span class="subheading">
                        ----------- -----------
                    </span>
                </h2>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-header">
                    <strong>-----------</strong>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Опыт работы:</strong> ----------- лет</li>
                    <li class="list-group-item"><strong>История работы:</strong> -----------</li>
                </ul>
            </div>
        </div>
    </div>
</div>
-----------