{% extends 'main/wrapper.html' %}
{% load static %}
{% block content %}
<div class="hero">
	<div class="container">
		<div class="row d-flex align-items-center">
			<div class="col-lg-6 hero-left text-center">
				<h1 class="display-4 mb-5">На любой<br>Вкус!</h1>
				<div class="mb-2">
					<a class="btn btn-primary btn-shadow btn-lg" href="#" role="button">Узнать Больше</a>
					<a class="btn btn-icon btn-lg" href="https://player.vimeo.com/video/33110953"
						data-featherlight="iframe" data-featherlight-iframe-allowfullscreen="true">
						<span class="lnr lnr-film-play"></span>
						Смотреть Видео
					</a>
				</div>

				<ul class="hero-info list-unstyled d-flex text-center mb-0">
					<li class="border-right">
						<span class="lnr lnr-rocket"></span>
						<h5>
							Быстро
						</h5>
					</li>
					<li class="border-right">
						<span class="lnr lnr-leaf"></span>
						<h5>
							Качественно
						</h5>
					</li>
					<li class="">
						<span class="lnr lnr-bubble"></span>
						<h5>
							24/7 Поддержка
						</h5>
					</li>
				</ul>

			</div>
			<div class="col-lg-6 hero-right">
				<div class="owl-carousel owl-theme hero-carousel">
					<div class="item">
						<img class="img-fluid" src="{% static 'img/hero-1.jpg' %}" alt="hero_1">
					</div>
					<div class="item">
						<img class="img-fluid" src="{% static 'img/hero-2.jpg' %}" alt="hero_2">
					</div>
					<div class="item">
						<img class="img-fluid" src="{% static 'img/hero-3.jpg' %}" alt="hero_3">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}